<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <connectionStrings>
    <add name="Base" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\172.28.43.152\Users\prueda\Documents\Pedro_Octubre2015\ServidorProyecto\bd\PadronWin.accdb;Persist Security Info=False;"/>
</connectionStrings>

<appSettings>
    <add key="RutaTxtErrorFile" value="C:\MensajesErrorSCJN\MensajesErrorPadron.txt"/>
    <add key="ErrorPath" value="C:\MensajesErrorSCJN"/>
  </appSettings>


</configuration>